/* Stylesheet for website */

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
ul {
  list-style: none;
}

/* Typography */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

h1,
h2 {
  font-weight: bold;
  margin: 1.5em 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  margin: 1.5em 0;
}

a {
  color: #0077cc;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #0077cc;
}

/* Layout */
header {
  background-color: #0077cc;
  padding: 1.5em 1em;
}
#visits {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin-right: 1.5em;
}

nav a {
  color: #fff;
  font-weight: bold;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


main {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 1.5em;
}

section:not(:last-of-type) {
  margin-bottom: 4em;
}

footer {
  background-color: #f2f2f2;
  padding: 2em 1em;
  text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
  header {
    padding: 1em;
  }
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav li {
    margin: 1em 0;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    margin: 1em 0;
  }
  main {
    padding: 1.5em 1em;
  }
  section:not(:last-of-type) {
    margin-bottom: 2.5em;
  }
  footer {
    padding: 1.5em 1em;
  }
}
#dark-mode-btn {
  background: white;
  border-radius: 999px;
  box-shadow: black 0 10px 20px -10px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


#dark-mode-btn:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  border-color: white;
}

#dark-mode-btn i {
  margin-right: 8px;
}

body.dark-mode {
  background-color: #222;
  color: #0077cc;
}

